<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu de Navegação</title>
    <!-- Incluir Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11.11.0/dist/sweetalert2.min.css"
      rel="stylesheet"
    />
    <style>
      .navbar {
        border-radius: 5px;
      }

      .navbar-brand {
        font-weight: bold;
        font-size: 24px;
      }

      .navbar-nav .nav-link {
        font-weight: bold;
        font-size: 18px;
        color: #333;
      }

      .navbar-nav .nav-link.active {
        color: #007bff; /* cor destacada para o item ativo */
      }

      .navbar-nav .nav-link:hover {
        color: #007bff;
      }

      /* Estilo para o conteúdo da página */
      .content {
        margin-top: 20px;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">Menu</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a
                class="nav-link"
                href="#random_vector"
                onclick="showContent('random_vector')"
                >Vetor Randomizado</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="#sorted_vector"
                onclick="showContent('sorted_vector')"
                >Vetor Ordenado</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="#scatter_plot"
                onclick="showContent('scatter_plot')"
                >Scatter Plot</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="#line_chart"
                onclick="showContent('line_chart')"
                >Line Chart</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="#bar_chart"
                onclick="showContent('bar_chart')"
                >Bar Chart</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="#bubble_chart"
                onclick="showContent('bubble_chart')"
                >Bubble Chart</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="#dot_plot"
                onclick="showContent('dot_plot')"
                >Dot Plot</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container content" id="content"></div>

    <!-- Incluir Bootstrap JS (opcional, se necessário) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.11.0/dist/sweetalert2.all.min.js"></script>
    <script>
      // Função para mostrar o conteúdo correspondente ao item de menu clicado
      async function showContent(contentId) {
        var content = document.getElementById("content");
        var url = `http://127.0.0.1:5000/${contentId}`; // Defina a URL do endpoint onde os dados JSON serão obtidos

        // Realiza uma requisição para obter os dados JSON do backend

        if (contentId.includes("chart") || contentId.includes("plot")) {
          var html = "<h1>" + contentId.replace("_", " ") + "</h1>";
          html += "<p>";
          html += `<form id="dataForm" method="POST">
                <div class="form-group">
                  <label for="x">Valor X:</label>
                  <input type="text" pattern="[0-9,]*" class="form-control" id="x" name="x" required>
                  <label for="label_x">Label X:</label>
                  <input type="text" class="form-control" id="label_x" name="label_x">
                </div>

                <div class="form-group">
                  <label for="y">Valor Y:</label>
                  <input type="text" pattern="[0-9,]*" class="form-control" id="y" name="y" required>
                  <label for="label_y">Label Y:</label>
                  <input type="text" class="form-control" id="label_y" name="label_y">
                </div>
                 <input type="text" class="form-control" id="chart_type" name="chart_type" value="${contentId}" style="display: none;">

                <button type="submit" class="btn btn-primary">Enviar</button>
              </form>
               `;
          // <button class='btn btn-primary' onclick="downloadPlot('${contentId}')">Baixar</button>
          html += "</p>";
          content.innerHTML = html;
        } else {
          try {
            var response = await fetch(url);
            var data = await response.json();

            // Formata e exibe os dados JSON na página
            var html = "<h1>" + contentId.replace("_", " ") + "</h1>";
            html += "<p>";
            html += JSON.stringify(data, null, 2); // Transforma os dados JSON em uma string formatada
            html += "</p>";
            content.innerHTML = html;
          } catch (error) {
            console.error("Erro ao obter os dados do backend:", error);
            content.innerHTML =
              "<p>Ocorreu um erro ao carregar os dados do backend.</p>";
          }
        }

        // Remover a classe 'active' de todos os links do menu
        var navLinks = document.querySelectorAll(".navbar-nav .nav-link");
        navLinks.forEach(function (link) {
          link.classList.remove("active");
        });

        // Adicionar a classe 'active' apenas ao link clicado
        var clickedLink = document.querySelector(
          '.navbar-nav .nav-link[href="#' + contentId + '"]'
        );
        clickedLink.classList.add("active");
      }

      // Função para obter o contentId do URL
      function getContentIdFromUrl() {
        var url = window.location.href;
        var urlParts = url.split("#");
        if (urlParts.length > 1) {
          return urlParts[1];
        } else {
          return null; // Retorna null se não houver contentId no URL
        }
      }

      // Chamar a função ao carregar a página
      document.addEventListener("DOMContentLoaded", function () {
        var contentId = getContentIdFromUrl();
        if (contentId === null || contentId === "") {
          // Define um valor padrão para contentId se for nulo ou vazio
          contentId = "default_content";
        }
        showContent(contentId);
      });

      document.addEventListener("submit", function (event) {
        if (event.target.id === "dataForm") {
          event.preventDefault(); // previnir de dar f5 na tela

          // Obter os valores de x e y
          var xValues = document.getElementById("x").value.split(",");
          var yValues = document.getElementById("y").value.split(",");

          if (xValues.length !== yValues.length) {
            Swal.fire({
              icon: "error",
              title: "Erro",
              text: "As listas de valores X e Y devem ter o mesmo tamanho",
            });
            return; // Impedir o envio do formulário se as listas tiverem tamanhos diferentes
          }

          var form = document.getElementById("dataForm"); // Assuming your form has the ID "dataForm"
          const formData = new FormData(form); // Create FormData object from the form
          fetch("http://127.0.0.1:5000/download_plot", {
            method: "POST",
            body: formData,
          })
            .then(async (response) => {
              if (!response.ok) {
                throw new Error("Erro ao enviar os dados");
              }
              var blob = await response.blob();

              // Cria um link temporário para iniciar o download
              var urlObject = window.URL || window.webkitURL || window;
              var downloadUrl = urlObject.createObjectURL(blob);

              // Cria um link de download e o aciona
              var name = document.getElementById("chart_type").value;

              var link = document.createElement("a");
              link.href = downloadUrl;
              link.download = `${name}.png`;
              document.body.appendChild(link);
              link.click();

              // Libera recursos
              setTimeout(() => {
                urlObject.revokeObjectURL(downloadUrl);
                document.body.removeChild(link);
              }, 100);
            })
            .then((data) => {
              // Trate a resposta do servidor, se necessário
              console.log("Dados enviados com sucesso:", data);
            })
            .catch((error) => {
              console.error("Erro:", error);
            });
        }
      });
    </script>
  </body>
</html>
