<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu de Navegação</title>
    <!-- Incluir Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      /* Estilos adicionais */
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f8f9fa;
      }

      .card {
        width: 300px;
        padding: 20px;
        text-align: center;
      }

      .card-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
      }

      .btn-card {
        width: 100%;
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <div class="card">
      <h2 class="card-title">Menu de Navegação</h2>
      <a href="/home#random_vector" class="btn btn-primary btn-lg btn-card"
        >Vetor Randomizado</a
      >
      <a href="/home#sorted_vector" class="btn btn-primary btn-lg btn-card"
        >Vetor Ordenado</a
      >
      <a href="/home#scatter_plot" class="btn btn-primary btn-lg btn-card"
        >Scatter Plot</a
      >
      <a href="/home#line_chart" class="btn btn-primary btn-lg btn-card"
        >Line Chart</a
      >
      <a href="/home#bar_chart" class="btn btn-primary btn-lg btn-card"
        >Bar Chart</a
      >
      <a href="/home#bubble_chart" class="btn btn-primary btn-lg btn-card"
        >Bubble Chart</a
      >
      <a href="/home#dot_plot" class="btn btn-primary btn-lg btn-card"
        >Dot Plot</a
      >
    </div>

    <!-- Incluir Bootstrap JS (opcional, se necessário) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
